.banner-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* banner text */
.banner-text{
    margin-top: 65px;
}
.banner-text h1{
    color: rgba(47, 47, 47, 0.856);
    font-size: 32px;
}
.banner-text h1 span{
    color: var(--color-blue);
}

/* banner image */
.banner-img img{
    height: 430px;
}