:root{
    --color-blue: #009eb3;
    --color-nav: #EE6983;
    /* --color-nav: #159c8c; */
    --btn-bg : #EE6983;
    --color-logo: rgb(89, 200, 255);
    --btn-bg-hover : rgb(254, 63, 85);
    --color-off-white: rgb(216, 216, 216);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

button{
    padding: 10px 20px;
    margin: 25px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-bg);
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}
button:hover{
    padding: 10px 25px;
    background-color: var(--btn-bg-hover);
    transition: 0.25s;
}
button:hover .btn-icon{
    margin-left: 5px;
    transition: 0.25s;
}

@media screen and (max-width: 667px) {
    button{
        padding: 8px 16px;
        margin: 16px 0;
        border-radius: 4px;
        font-size: 12px;
    }
    button:hover{
        padding: 8px 16px;
    }
}

/*------------------------
responsive for tab device
-------------------------- */
@media screen and (min-width: 668px) and (max-width: 992px) {
    button{
        padding: 8px 16px;
        margin: 20px 0;
        font-size: 14px;
    }
    button:hover{
        padding: 8px 16px;
    }
}