.banner-bg {
    background-image: linear-gradient(to bottom, #D6CEC9 0%, #D6CEC9 70%, #AB9D92 70%, #AB9D92 100%);
    color: #ac6f57;
}

/* ----------------
services
----------------- */
.home-services h1 {
    font-size: 60px;
    font-weight: 200;
    color: var(--btn-bg);
    margin-top: 100px;
}

.service-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 50px;
}
.home-services a{
    color: #fff;
    background-color: var(--btn-bg);
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
    position: relative;
}
.see-icon{
    position: absolute;
    top: 15px;
}
.home-services a:hover .see-icon{
    margin-left: 10px;
    transition: 0.25s;
}
.home-services a:hover{
    transition: 0.25s;
    background-color: var(--btn-bg-hover);
}
.btn-see-all{
    margin-top: 40px;
}

/*---------------------------
 want-design 
 ----------------------------*/
.want-design {
    max-width: 80%;
    margin: 70px auto 0;
    border-radius: 10px;
    background-color: #00bc8a;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.want-design p {
    font-size: 24px;
}
.want-design>div>img{
    height: 220px;
}


/*---------------------------
responsive for mobile device
----------------------------- */
@media screen and (max-width: 667px) {

    /* banner */
    .banner-bg {
        background-image: linear-gradient(to bottom, #D6CEC9 0%, #D6CEC9 81%, #AB9D92 81%, #AB9D92 100%);
    }

    .banner-text {
        margin: 35px 0;
    }

    .banner-text h1 {
        font-size: 21px;
    }

    .banner-img img {
        height: 330px;
    }

    .service-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* contact me */
    .want-design {
        flex-direction: column;
    }
    .btn-contact:hover{
        padding: 8px 16px;
    }
}

/*------------------------
responsive for tab device
-------------------------- */
@media screen and (min-width: 668px) and (max-width: 992px) {

    /* banner */
    .banner-bg {
        background-image: linear-gradient(to bottom, #D6CEC9 0%, #D6CEC9 70%, #AB9D92 70%, #AB9D92 100%);
    }

    .banner-text {
        margin-top: 30px;
    }

    .banner-text h1 {
        font-size: 21px;
    }

    .banner-img img {
        height: 330px;
    }

    /* services */
    .service-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-contact:hover{
        padding: 8px 16px;
    }
}